<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " (click)="navigateTo('/admin')" [class.active]="isActive('/admin')">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" (click)="navigateTo('/admin/statical-management')" [class.active]="isActive('/admin/statical-management')">
                <i class="bi bi-table"></i><span>Thống kê</span>
            </a>
        </li>
        <!-- End Post -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" (click)="navigateTo('/admin/product-management')" [class.active]="isActive('/admin/product-management')">
                <i class="bi bi-menu-button-wide"></i><span>Quản lý sản phẩm</span>
            </a>
        </li>
        <!-- End Product Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" (click)="navigateTo('/admin/news-management')" [class.active]="isActive('/admin/news-management')">
                <i class="bi bi-journal-text"></i><span>Quản lý tin tức</span>
            </a>
        </li>
        <!-- End Post -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" (click)="navigateTo('/admin/contact-management')" [class.active]="isActive('/admin/contact-management')">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý Thông Tin liên hệ</span>
            </a>
        </li>
        <!-- End Infomation -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-box-arrow-right"></i><span>Đăng xuất</span>
            </a>
        </li>
        <!-- End Logout -->

    </ul>

</aside>
<!-- End Sidebar-->