<div class="pagetitle">
    <h1>Quản lý liên hệ</h1>
</div>
<!-- End Page Title -->

<section class="section mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3 search-input">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Tìm kiếm..." (input)="updateFilter($event)" />
                        </div>
                    </div>
                    <ngx-datatable class="material" [rows]="filteredCategories" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [columns]="columns" [rowHeight]="'auto'" [rowClass]="rowClassFunction" [limit]="5" [count]="filteredCategories.length" [offset]="offset"
                        (page)='onPage($event)'>
                        <ngx-datatable-column name="Tên khách hàng">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.name }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email ">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.email }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Số điện thoại ">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.phone }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tiêu đề ">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.title }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nội dung">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.content }}
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</section>