<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../assets/images/image-noithat/banner-service.png');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Dịch vụ</h2>
        <ol>
            <li><a href="/">Trang Chủ</a></li>
            <li>Dịch vụ</li>
        </ol>

    </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Our Services Section ======= -->
<section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Dịch vụ của chúng tôi</h2>
        </div>

        <div class="row gy-5">
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-briefcase" style="color: #f57813"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Khám Phá Ngay</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn chú trọng đến từng chi tiết nhỏ nhất, mang lại sự hoàn thiện tối đa cho không gian sống của bạn. Đội ngũ thiết kế của chúng tôi cam kết mang đến những giải pháp sáng tạo, đột phá và đáp ứng mọi yêu cầu khắt khe nhất.
                    </p>
                </div>
            </div>

            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-card-checklist" style="color: #15a04a"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thiết Kế Độc Đáo</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn mang đến những giải pháp thiết kế sáng tạo và độc đáo, đảm bảo sự hài lòng tuyệt đối cho khách hàng. Với đội ngũ chuyên nghiệp và tận tâm, chúng tôi cam kết cung cấp dịch vụ chất lượng cao và phù hợp với nhu cầu của bạn.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-bar-chart" style="color: #d90769"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thiết Kế Tinh Tế</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn tận tâm trong việc mang đến những thiết kế nội thất tinh tế và sang trọng. Với sự kết hợp hoàn hảo giữa thẩm mỹ và tiện ích, mỗi không gian do chúng tôi tạo ra đều mang đến sự thoải mái và hài lòng tuyệt đối cho khách hàng.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-binoculars" style="color: #15bfbc"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Đẳng Cấp Vượt Trội</a>
                    </h4>
                    <p class="description">
                        Chúng tôi cam kết mang đến những thiết kế nội thất đẳng cấp và vượt trội, tạo nên sự khác biệt cho không gian sống của bạn. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi đảm bảo mọi chi tiết đều được chăm chút tỉ mỉ để mang lại sự hài lòng tuyệt
                        đối.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-brightness-high" style="color: #f5cf13"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Phong Cách Độc Đáo</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn hướng tới việc mang lại những thiết kế nội thất độc đáo và ấn tượng, kết hợp hoàn hảo giữa thẩm mỹ và công năng. Đội ngũ của chúng tôi cam kết tạo ra những không gian sống đẹp mắt và tiện nghi, đáp ứng mọi nhu cầu của bạn.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-calendar4-week" style="color: #1335f5"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thời Gian Tận Hưởng</a>
                    </h4>
                    <p class="description">
                        Chúng tôi mang đến những giải pháp thiết kế nội thất dễ dàng và linh hoạt, giúp bạn tận hưởng không gian sống hoàn hảo. Với sự sáng tạo và chuyên nghiệp, chúng tôi đảm bảo mọi yêu cầu của bạn đều được đáp ứng một cách tối ưu.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->
        </div>
    </div>
</section>
<!-- End Our Services Section -->

<!-- ======= Services Cards Section ======= -->
<section id="services-cards" class="services-cards">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../assets/images/image-noithat/service-1.png);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">THIẾT KẾ BIỆT THỰ CAO CẤP.</h4>
                                <p>Xây dựng thương hiệu Nội thất Ahome phát triển vững mạnh, giữ vị trí top đầu trong nhóm ngành thiết kế thi công nội thất cao cấp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../assets/images/image-noithat/service-2.png);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">THIẾT KẾ CHUNG CƯ CAO CẤP.</h4>
                                <p>Mang đến những không gian sống sang trọng, đẳng cấp, những giá trị sống hoàn hảo cho mỗi gia đình.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../assets/images/image-noithat/service-3.png);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title"> THIẾT KẾ NHÀ PHỐ CAO CẤP.</h4>
                                <p>Đặt lợi ích của khách hàng lên hàng đầu, làm việc bằng chính tâm huyết, trái tim và luôn nuôi dưỡng đam mê mỗi ngày.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../assets/images/image-noithat/about-1.png);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">DỊCH VỤ KHÁC</h4>
                                <p>Mỗi bản thiết kế là một bản nghệ thuật độc đáo mang dấu ấn gia chủ; nghệ thuật không chỉ nằm trong sự tỉ mỉ trong thiết kế mà còn nằm ở sự tối ưu về công năng của không gian sống.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Item -->

        </div>

    </div>
</section>
<!-- End Services Cards Section -->