<div class="pagetitle">
    <h1>Quản lý sản phẩm</h1>
</div>
<!-- Button to open modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaladd" data-bs-whatever="@mdo">
    <i class="bi bi-plus"></i> Thêm sản phẩm
</button>
<div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProductForm" *ngIf="addProductForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        <input id="name" name="name" formControlName="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price">Giá sản phẩm</label>
                        <input id="price" formControlName="price" name="price" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stockQuantity">Số lượng sản phẩm</label>
                        <input id="stockQuantity" formControlName="stockQuantity" name="stockQuantity" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="imageFile">Hình ảnh sản phẩm</label>
                        <input type="file" (change)="onFileChange($event)" id="imageFile" name="imageFile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Danh mục</label>
                        <select id="categoryId" name="categoryId" formControlName="categoryId" class="form-control">
                            <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <input id="status" name="status" formControlName="status" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả sản phẩm</label>
                        <input id="description" formControlName="description" name="description" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="addProduct()">Thêm sản phẩm</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModaledit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editProductForm" *ngIf="editProductForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        <input id="name" name="name" formControlName="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price">Giá sản phẩm</label>
                        <input id="price" formControlName="price" name="price" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stockQuantity">Số lượng sản phẩm</label>
                        <input id="stockQuantity" formControlName="stockQuantity" name="stockQuantity" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="editImageFile">Hình ảnh sản phẩm</label>
                        <input type="file" (change)="onEditFileChange($event)" id="editImageFile" name="editImageFile" class="form-control" />
                    </div>
                    <div class="form-group" *ngIf="editProductForm.get('imageUrlPath')?.value">
                        <img [src]="editProductForm.get('imageUrlPath')?.value" alt="Current product image" class="img-thumbnail" />
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Danh mục</label>
                        <select id="categoryId" name="categoryId" formControlName="categoryId" class="form-control">
                            <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <input id="status" name="status" formControlName="status" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả sản phẩm</label>
                        <input id="description" formControlName="description" name="description" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="updateProduct(currentProductId!)">Cập nhật sản phẩm</button>
            </div>
        </div>
    </div>
</div>


<section class="section mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Tìm kiếm -->
                    <div class="row mb-3 search-input">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..." (input)="updateFilter($event)" />
                        </div>
                    </div>

                    <!-- Bảng sản phẩm -->
                    <ngx-datatable class="material" [rows]="filteredProduct" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [columns]="columns" [rowHeight]="'auto'" [rowClass]="rowClassFunction" [limit]="5" [count]="totalItems.length" [offset]="offset" (page)="onPage($event)">
                        <ngx-datatable-column name="Tên sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.name }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Loại sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ getCategoryName(row.categoryId) }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Giá sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.price | currency }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Số lượng">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.stockQuantity }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Trạng thái">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.status }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Ảnh sản phẩm" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img [src]="getFullImageUrl(row.imageUrlPath)" alt="Product Image" style="width: 100px; height: auto;">
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Edit">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaledit" (click)="openEditModal(row)">
                    <i class="bi bi-pencil-square"></i> Sửa
                  </button>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Delete">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="btn btn-danger" (click)="deleteProduct(row.productId)">
                    <i class="bi bi-x"></i> Xóa
                  </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</section>