<div class="pagetitle">
    <h1>Quản lý sản phẩm</h1>
</div>
<!-- Button to open modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaladd" data-bs-whatever="@mdo">
    <i class="bi bi-plus"></i> Thêm sản phẩm
</button>
<div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProductForm" *ngIf="this.addProductForm" (ngSubmit)="addProduct()">
                    <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        <input id="name" formControlName="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả</label>
                        <input id="description" formControlName="description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price">Giá</label>
                        <input id="price" formControlName="price" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stockQuantity">Số lượng tồn kho</label>
                        <input id="stockQuantity" formControlName="stockQuantity" type="number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">URL hình ảnh</label>
                        <input type="file" id="imageUrl" formControlName="imageUrl" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Danh mục</label>
                        <select id="categoryId" formControlName="categoryId" class="form-control">
                        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <input id="status" formControlName="status" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="addProduct()">Thêm sản phẩm</button>
            </div>
        </div>
    </div>
</div>


<!-- End Page Title -->
<section class="section mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <ngx-datatable class="bootstrap" [rows]="Allproduct" [columns]="columns" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [columnMode]="'force'" [reorderable]="true" [externalPaging]="true" [count]="Allproduct.length" (page)="'onPage($event)'">

                        <ngx-datatable-column name="Tên sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.name }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Loại sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.categoryId }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Gía sản phẩm">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.price }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Số lượng">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.stockQuantity }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Trạng thái">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.status }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Ảnh sản phảm" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <img [src]="getFullImageUrl(row.imageUrlPath)" alt="Product Image" style="width: 100px; height: auto;">
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Edit">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModaledit" data-bs-whatever="@mdo" (click)="openEditModal(row)">
                  <i class="bi bi-pencil-square"></i> Chỉnh sửa
                </button>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Delete">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="btn btn-danger" (click)="deleteproduct(row.productId)">
                  <i class="bi bi-x"></i> Xóa
                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>