<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a routerLink="/" class="logo d-flex align-items-center">
            <h1 class="d-flex align-items-center">Nova</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
                <li><a routerLink="/service" routerLinkActive="active" ariaCurrentWhenActive="page">Service</a></li>
                <li><a routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a></li>
                <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
            </ul>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->