<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../assets/images/image-noithat/banner-about.png');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>giới Thiệu</h2>
        <ol>
            <li><a href="/">Trang Chủ</a></li>
            <li>giới Thiệu</li>
        </ol>

    </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
            <div class="col-lg-4">
                <img src="../assets/images/image-noithat/about-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8">
                <div class="content ps-lg-5">
                    <h3>ĐƠN VỊ THIẾT KẾ NỘI THẤT UY TÍN HÀNG ĐẦU</h3>
                    <p>
                        HoDau đã và đang trên hành trình dựng xây những thiết kế độc bản cho rất nhiều khách hành trên khắp các tỉnh thành cả nước Việt Nam. Chúng tôi tự hào khi mỗi nơi chúng tôi đi qua, nơi đó trở nên giá trị, đẳng cấp về thẩm mĩ nội thất sang trọng và thời
                        đại.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> Được đào tạo chuyên nghiệp, bài bản ở các trường chuyên về kiến trúc, nội thất.</li>
                        <li><i class="bi bi-check-circle-fill"></i> Thấu hiểu khách hàng, luôn lắng nghe, tiếp thu những ý kiến của khách hàng từ đó đưa ra được những tư vấn tối ưu nhất.</li>
                        <li><i class="bi bi-check-circle-fill"></i> Sáng tạo, luôn cập nhật xu hướng thiết kế mới được ưu chuộng trên thế giới. Thay đổi điều chỉnh phù hợp với người Việt.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

<!-- ======= Why Choose Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Tại sao chọn chúng tôi</h2>
        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-5 img-bg" style="background-image: url('../assets/images/image-noithat/why-about-me.png')"></div>
            <div class="col-xl-7 slides position-relative">
                <div class="slides-1 swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Cùng phát triển doanh nghiệp của bạn</h3>
                                <h4 class="mb-3">
                                    Mang đến những giải pháp thiết kế nội thất sáng tạo và tinh tế.
                                </h4>
                                <p>
                                    Chúng tôi luôn tận tâm trong việc tạo ra những không gian sống đẹp mắt và tiện nghi. Với sự kết hợp giữa sáng tạo và kinh nghiệm, chúng tôi cam kết mang đến cho bạn những thiết kế nội thất độc đáo và phù hợp với phong cách riêng của bạn. Hãy cùng chúng
                                    tôi biến ngôi nhà của bạn thành tổ ấm lý tưởng, nơi bạn luôn cảm thấy thoải mái và hạnh phúc.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Tận hưởng không gian sống đẳng cấp</h3>
                                <h4 class="mb-3">
                                    Mang đến cho bạn không gian sống hoàn hảo và tiện nghi nhất.
                                </h4>
                                <p>
                                    Chúng tôi luôn hướng tới việc tạo ra những không gian sống đẳng cấp và tinh tế. Đội ngũ thiết kế của chúng tôi cam kết mang đến những giải pháp nội thất tối ưu, kết hợp giữa thẩm mỹ và chức năng, giúp ngôi nhà của bạn trở nên ấm cúng và sang trọng. Hãy
                                    để chúng tôi biến ước mơ về một không gian sống lý tưởng của bạn thành hiện thực.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Sự khác biệt trong từng chi tiết</h3>
                                <h4 class="mb-3">
                                    Mang lại giải pháp hoàn hảo cho không gian sống của bạn.
                                </h4>
                                <p>
                                    Chúng tôi tin rằng từng chi tiết nhỏ đều góp phần tạo nên một không gian sống hoàn hảo. Đội ngũ thiết kế của chúng tôi luôn chú trọng đến từng yếu tố nhỏ nhất để đảm bảo mọi thứ đều hoàn hảo từ hình thức đến chức năng. Hãy để chúng tôi biến ngôi nhà của
                                    bạn trở nên độc đáo và phản ánh phong cách riêng của bạn.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Đáp ứng mọi nhu cầu thiết kế của bạn</h3>
                                <h4 class="mb-3">
                                    Tạo ra không gian sống đẹp mắt và tiện nghi với sự chuyên nghiệp và tận tâm.
                                </h4>
                                <p>
                                    Chúng tôi cam kết mang đến cho bạn những giải pháp thiết kế nội thất hoàn hảo nhất. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi sẽ biến mọi ý tưởng của bạn thành hiện thực, đảm bảo sự hài lòng tuyệt đối. Hãy để chúng tôi đồng hành cùng bạn trong
                                    hành trình tạo nên không gian sống mơ ước.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Section -->
<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h3>Tận hưởng không gian sống lý tưởng</h3>
                <p>
                    Chúng tôi cam kết mang đến cho bạn không gian sống hoàn hảo với thiết kế nội thất độc đáo và tiện nghi. Đội ngũ chuyên gia của chúng tôi luôn sẵn sàng lắng nghe và thực hiện mọi ý tưởng của bạn.
                </p>
                <a class="cta-btn" href="#">Liên Hệ Ngay</a>

            </div>
        </div>
    </div>
</section>
<!-- End Call To Action Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Đội Ngũ Thiết Kế</h2>

        </div>

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="../assets/images/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="../assets/images/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="../assets/images/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="../assets/images/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

        </div>

    </div>
</section>
<!-- End Team Section -->