<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a (click)="navigateTo('/')" [class.active]="isActive('/')" class="logo d-flex align-items-center">
            <h1 class="d-flex align-items-center">Nova</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a (click)="navigateTo('/')" [class.active]="isActive('/')">Home</a></li>
                <li><a (click)="navigateTo('/about')" [class.active]="isActive('/about')">About</a></li>
                <li><a (click)="navigateTo('/service')" [class.active]="isActive('/service')">Service</a></li>
                <li><a (click)="navigateTo('/product')" [class.active]="isActive('/product')">Product</a></li>
                <li><a (click)="navigateTo('/blog')" [class.active]="isActive('/blog')">Blog</a></li>
                <li><a (click)="navigateTo('/contact')" [class.active]="isActive('/contact')">Contact</a></li>
            </ul>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->