<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2 data-aos="fade-up">
                    ĐƠN VỊ HÀNG ĐẦU VỀ THIẾT KẾ THI CÔNG NỘI THẤT CAO CẤP
                </h2>
                <blockquote data-aos="fade-up" data-aos-delay="100">
                    <p>
                        HoDau khẳng định vị thế thương hiệu bằng uy tín, chất lượng với những sản phẩm độc bản. Chúng tôi luôn đón đầu xu hướng thiết kế đẹp và đẳng cấp nhất hiện nay, mang đến cho khách hàng giá trị sống trọn vẹn cùng trải nghiệm có một không hai tại Việt Nam.
                    </p>
                </blockquote>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#about" class="btn-get-started">Tìm hiểu thêm</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i
                            class="bi bi-play-circle"></i><span>Xem Video</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- ======= Why Choose Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Tại sao chọn chúng tôi</h2>
        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-5 img-bg" style="background-image: url('../assets/images/image-noithat/why-about-me.png')"></div>
            <div class="col-xl-7 slides position-relative">
                <div class="slides-1 swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Cùng phát triển doanh nghiệp của bạn</h3>
                                <h4 class="mb-3">
                                    Mang đến những giải pháp thiết kế nội thất sáng tạo và tinh tế.
                                </h4>
                                <p>
                                    Chúng tôi luôn tận tâm trong việc tạo ra những không gian sống đẹp mắt và tiện nghi. Với sự kết hợp giữa sáng tạo và kinh nghiệm, chúng tôi cam kết mang đến cho bạn những thiết kế nội thất độc đáo và phù hợp với phong cách riêng của bạn. Hãy cùng chúng
                                    tôi biến ngôi nhà của bạn thành tổ ấm lý tưởng, nơi bạn luôn cảm thấy thoải mái và hạnh phúc.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Tận hưởng không gian sống đẳng cấp</h3>
                                <h4 class="mb-3">
                                    Mang đến cho bạn không gian sống hoàn hảo và tiện nghi nhất.
                                </h4>
                                <p>
                                    Chúng tôi luôn hướng tới việc tạo ra những không gian sống đẳng cấp và tinh tế. Đội ngũ thiết kế của chúng tôi cam kết mang đến những giải pháp nội thất tối ưu, kết hợp giữa thẩm mỹ và chức năng, giúp ngôi nhà của bạn trở nên ấm cúng và sang trọng. Hãy
                                    để chúng tôi biến ước mơ về một không gian sống lý tưởng của bạn thành hiện thực.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Sự khác biệt trong từng chi tiết</h3>
                                <h4 class="mb-3">
                                    Mang lại giải pháp hoàn hảo cho không gian sống của bạn.
                                </h4>
                                <p>
                                    Chúng tôi tin rằng từng chi tiết nhỏ đều góp phần tạo nên một không gian sống hoàn hảo. Đội ngũ thiết kế của chúng tôi luôn chú trọng đến từng yếu tố nhỏ nhất để đảm bảo mọi thứ đều hoàn hảo từ hình thức đến chức năng. Hãy để chúng tôi biến ngôi nhà của
                                    bạn trở nên độc đáo và phản ánh phong cách riêng của bạn.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Đáp ứng mọi nhu cầu thiết kế của bạn</h3>
                                <h4 class="mb-3">
                                    Tạo ra không gian sống đẹp mắt và tiện nghi với sự chuyên nghiệp và tận tâm.
                                </h4>
                                <p>
                                    Chúng tôi cam kết mang đến cho bạn những giải pháp thiết kế nội thất hoàn hảo nhất. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi sẽ biến mọi ý tưởng của bạn thành hiện thực, đảm bảo sự hài lòng tuyệt đối. Hãy để chúng tôi đồng hành cùng bạn trong
                                    hành trình tạo nên không gian sống mơ ước.
                                </p>
                            </div>
                        </div>
                        <!-- End slide item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Section -->

<!-- ======= Our Services Section ======= -->
<section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Dịch vụ của chúng tôi</h2>
        </div>

        <div class="row gy-5">
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-briefcase" style="color: #f57813"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Khám Phá Ngay</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn chú trọng đến từng chi tiết nhỏ nhất, mang lại sự hoàn thiện tối đa cho không gian sống của bạn. Đội ngũ thiết kế của chúng tôi cam kết mang đến những giải pháp sáng tạo, đột phá và đáp ứng mọi yêu cầu khắt khe nhất.
                    </p>
                </div>
            </div>

            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-card-checklist" style="color: #15a04a"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thiết Kế Độc Đáo</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn mang đến những giải pháp thiết kế sáng tạo và độc đáo, đảm bảo sự hài lòng tuyệt đối cho khách hàng. Với đội ngũ chuyên nghiệp và tận tâm, chúng tôi cam kết cung cấp dịch vụ chất lượng cao và phù hợp với nhu cầu của bạn.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-bar-chart" style="color: #d90769"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thiết Kế Tinh Tế</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn tận tâm trong việc mang đến những thiết kế nội thất tinh tế và sang trọng. Với sự kết hợp hoàn hảo giữa thẩm mỹ và tiện ích, mỗi không gian do chúng tôi tạo ra đều mang đến sự thoải mái và hài lòng tuyệt đối cho khách hàng.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-binoculars" style="color: #15bfbc"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Đẳng Cấp Vượt Trội</a>
                    </h4>
                    <p class="description">
                        Chúng tôi cam kết mang đến những thiết kế nội thất đẳng cấp và vượt trội, tạo nên sự khác biệt cho không gian sống của bạn. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi đảm bảo mọi chi tiết đều được chăm chút tỉ mỉ để mang lại sự hài lòng tuyệt
                        đối.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-brightness-high" style="color: #f5cf13"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Phong Cách Độc Đáo</a>
                    </h4>
                    <p class="description">
                        Chúng tôi luôn hướng tới việc mang lại những thiết kế nội thất độc đáo và ấn tượng, kết hợp hoàn hảo giữa thẩm mỹ và công năng. Đội ngũ của chúng tôi cam kết tạo ra những không gian sống đẹp mắt và tiện nghi, đáp ứng mọi nhu cầu của bạn.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                <div class="icon flex-shrink-0">
                    <i class="bi bi-calendar4-week" style="color: #1335f5"></i>
                </div>
                <div>
                    <h4 class="title">
                        <a href="#" class="stretched-link">Thời Gian Tận Hưởng</a>
                    </h4>
                    <p class="description">
                        Chúng tôi mang đến những giải pháp thiết kế nội thất dễ dàng và linh hoạt, giúp bạn tận hưởng không gian sống hoàn hảo. Với sự sáng tạo và chuyên nghiệp, chúng tôi đảm bảo mọi yêu cầu của bạn đều được đáp ứng một cách tối ưu.
                    </p>

                </div>
            </div>
            <!-- End Service Item -->
        </div>
    </div>
</section>
<!-- End Our Services Section -->

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h3>Tận hưởng không gian sống lý tưởng</h3>
                <p>
                    Chúng tôi cam kết mang đến cho bạn không gian sống hoàn hảo với thiết kế nội thất độc đáo và tiện nghi. Đội ngũ chuyên gia của chúng tôi luôn sẵn sàng lắng nghe và thực hiện mọi ý tưởng của bạn.
                </p>
                <a class="cta-btn" href="#">Liên Hệ Ngay</a>

            </div>
        </div>
    </div>
</section>
<!-- End Call To Action Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <h3>Các tính năng đặc biệt cho Ngôi nhà của bạn</h3>

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-store-line" style="color: #ffbb2c"></i>
                            <span>Thiết kế linh hoạt và đa dạng</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
                            <span>Thiết kế chuyên nghiệp và hiện đại</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-calendar-todo-line" style="color: #e80368"></i>
                            <span>Trang trí sáng tạo và thẩm mỹ</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-paint-brush-line" style="color: #e361ff"></i>
                            <span>Thiết kế độc đáo và sáng tạo</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-database-2-line" style="color: #47aeff"></i>
                            <span>Tính năng thông minh</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-gradienter-line" style="color: #ffa76e"></i>
                            <span>Thiết kế nội thất cá nhân hóa</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-file-list-3-line" style="color: #11dbcf"></i>
                            <span>Báo cáo dự án chi tiết</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->

                    <div class="col-md-6">
                        <div class="icon-list d-flex">
                            <i class="ri-base-station-line" style="color: #ff5828"></i>
                            <span>Hỗ trợ dịch vụ chuyên nghiệp</span>
                        </div>
                    </div>
                    <!-- End Icon List Item-->
                </div>
            </div>

            <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
                <div class="phone-wrap">
                    <img src="../assets/images/iphone.png" alt="Image" />
                </div>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="row">
                <div class="col-md-6">
                    <h4>Làm Việc Chuyên Nghiệp<br />với Đội Ngũ Chuyên Gia</h4>
                    <p>
                        Chúng tôi cam kết mang đến cho bạn sự chuyên nghiệp và tận tâm nhất. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi sẽ giúp biến ước mơ về một không gian sống lý tưởng của bạn thành hiện thực.
                    </p>
                    <a href="#about" class="btn-get-started">Bắt Đầu Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->

<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-posts" class="recent-posts">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Tin tức mới nhất</h2>
        </div>

        <div class="row gy-5">
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="post-box">
                    <div class="post-img">
                        <img src="assets/images/blog/blog-1.jpg" class="img-fluid" alt="image" />
                    </div>
                    <div class="meta">
                        <span class="post-date">Thứ Ba, 12 Tháng 12</span>
                        <span class="post-author"> / Julia Parker</span>
                    </div>
                    <h3 class="post-title">Trải nghiệm không gian sống lý tưởng với các dịch vụ chất lượng cao</h3>
                    <p>
                        Tận hưởng không gian sống hoàn hảo với dịch vụ thiết kế nội thất chất lượng cao. Chúng tôi cam kết mang đến cho bạn không gian sống đẳng cấp và tinh tế, phản ánh phong cách và cá tính riêng của bạn.
                    </p>
                    <a routerLink="/blog/blog-detail" class="readmore stretched-link"><span>Đọc Thêm</span><i class="bi bi-arrow-right"></i></a>

                </div>
            </div>

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="post-box">
                    <div class="post-img">
                        <img src="../assets/images/blog/blog-2.jpg" class="img-fluid" alt="" />
                    </div>
                    <div class="meta">
                        <span class="post-date">Thứ Sáu, 5 Tháng 9</span>
                        <span class="post-author"> / Mario Douglas</span>
                    </div>
                    <h3 class="post-title">Trải nghiệm không gian sống đẳng cấp với dịch vụ chuyên nghiệp</h3>
                    <p>
                        Hãy tận hưởng một không gian sống lý tưởng và đẳng cấp với dịch vụ chuyên nghiệp từ chúng tôi. Chúng tôi cam kết mang đến cho bạn những giải pháp thiết kế nội thất tinh tế và sang trọng, tạo nên không gian sống độc đáo và ấn tượng.
                    </p>
                    <a routerLink="/blog/blog-detail" class="readmore stretched-link"><span>Đọc Thêm</span><i class="bi bi-arrow-right"></i></a>

                </div>
            </div>

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="post-box">
                    <div class="post-img">
                        <img src="../assets/images/blog/blog-3.jpg" class="img-fluid" alt="" />
                    </div>
                    <div class="meta">
                        <span class="post-date">Thứ Ba, 27 Tháng 7</span>
                        <span class="post-author"> / Lisa Hunter</span>
                    </div>
                    <h3 class="post-title">Trải nghiệm không gian sống độc đáo và chất lượng</h3>
                    <p>
                        Hãy khám phá không gian sống độc đáo và chất lượng với chúng tôi. Chúng tôi mang đến những giải pháp thiết kế nội thất đa dạng và sáng tạo, đảm bảo phản ánh phong cách và cá tính của bạn trong mỗi chi tiết.
                    </p>
                    <a routerLink="/blog/blog-detail" class="readmore stretched-link"><span>Đọc Thêm</span><i class="bi bi-arrow-right"></i></a>

                </div>
            </div>

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="post-box">
                    <div class="post-img">
                        <img src="../assets/images/blog/blog-4.jpg" class="img-fluid" alt="" />
                    </div>
                    <div class="meta">
                        <span class="post-date">Thứ Ba, 16 Tháng 9</span>
                        <span class="post-author"> / Mario Douglas</span>
                    </div>
                    <h3 class="post-title">Trải nghiệm không gian sống đẳng cấp và tiện nghi</h3>
                    <p>
                        Hãy trải nghiệm không gian sống đẳng cấp và tiện nghi với chúng tôi. Chúng tôi cung cấp những giải pháp thiết kế nội thất đa dạng và thông minh, giúp tối ưu hóa mọi không gian để phản ánh phong cách và nhu cầu của bạn.
                    </p>
                    <a routerLink="/blog/blog-detail" class="readmore stretched-link"><span>Đọc Thêm</span><i class="bi bi-arrow-right"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Recent Blog Posts Section -->